
.logo {

  background: url("../assets/frontpagelogo.jpg");
  height: 425px;
  background-position: center center;
  background-size: cover;
  margin: 0px 0px 10px 0px;
}

.homes {
  font-size: 11px;
  line-height: 20px;
  font-weight: 600;
  color: #787878;
}
body {
  margin: 0;
  Padding: 0;
  font-family: 'Roboto:', sans-serif;
  font-size: 18px;
  color: #484848;
}

p {
  font-size: 0;
  margin: 0;
  padding: 0;
}
h1 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  font-size: 32px;
  font-weight: 600;
}

.main {
  margin: 35px 77px 0;
  width: 746px;
}

.larger {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #484848;
}

.photo {
  size: 238px 417px;
  margin: 8px;
}

.line1 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  line-height: 16px;
}

.line2 {
  font-size: 16px;
  line-height: 20px;
}

.line3 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;
}

.line4 {
  font-size: 14px;
  line-height: 18px;
  margin-top: 2px;
}

.row-history {
  width: 2502px;
  height: auto;
  margin: 0px;
}

.rowitem {
    display:inline-block;
    width:238px;
    height:417px;
    margin:0px;
    vertical-align:top;
}
